<div class="container white-text">
    <div class="row">
        <h1>Step One</h1>
        <label>Name Your New Project: </label><input class="dark-text" type="text" ng-model="project_name" name="project">
        <br><br>
        <label>Select Your Algorithm: <select class="dark-text" ng-model="SelectedAlgo" ng-options="algo for algo in algorithms">
        </select></label>
        <br><br>
        <a target="_blank" href="https://archive.ics.uci.edu/ml/datasets.html">Click Me!</a>
        To See a List of Datasets<br>
        <br>
        <label>Upload Your Dataset: </label><input type="file" id="dataset" name="dataset">
        <br><br>
        <button class="btn btn-primary" type="submit" ng-click="step_2()">Continue to Step 2</button>
    </div>

    <div class="row alert alert-danger" ng-show="error">
        <p ng-model="error">((error_message))</p>
    </div>
</div>
        <div id="LoadingModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">This May Take a Moment...</h4>
                </div>
                <div class="modal-body">
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped active" role="progressbar"
                      aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        Loading precious values...
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>