<div class="container">
    <h1>Register</h1>
    <div class="row">
        <div class="form-group">
          <label><strong>Username: </strong><input ng-model="user.username" type="text" placeholder="Tavern53" value="((user.username))"></label><br>
          <label><strong>Password: </strong><input ng-model="user.password" type="password" placeholder="1234567" value="((user.password))"></label><br>
          <label><strong>Email: </strong><input ng-model="user.email" type="text" placeholder="email@email.com" value="((user.email))"></label><br>
          <label><strong>First Name: </strong><input ng-model="user.first_name" type="text" placeholder="John" value="((user.first_name))"></label><br>
          <label><strong>Last Name: </strong><input ng-model="user.last_name" type="text" placeholder="Smith" value="((user.last_name))"></label><br>
          <button class="btn btn-primary" type="submit" ng-click="register()">Register</button>
        </div>
    </div>
</div>